<!DOCTYPE HTML>
<html>
<head>
    <%= render 'partials/headTag' %>
</head>

<body>
    <div class="container">
      <%= render 'partials/headerContent' %>
      <div class="row">
        <nav class="navbar navbar-default" style="margin-bottom: 0; border-radius: 0px;border-style: solid;
                border-color: #337ab7; border-bottom: white;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuBar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a><!--You can put text here to show on the navbar-->
          </div>
          <div class="collapse navbar-collapse" id="menuBar">
            <ul class="nav navbar-nav navbar-left">
              <li role="presentation"><%=link_to "Home", "/" %></li>
              <li role="presentation"><%=link_to "Summoner", "/summoner" %></li>
              <li role="presentation"><%=link_to "Champions", "/champions" %></li>
              <li role="presentation" class="active"><%=link_to "Counterpicks", "/counterpicks" %></li>
              <li role="presentation"><%=link_to "Team Comps", "/teamcomp" %></li>
            </ul>
            <p class="navbar-text pull-right"><%= render 'partials/numGames' %> Matches</p>
          </div>

        </nav>
      </div>
      <div class="row">
        <nav class="navbar navbar-default" style="margin-bottom: 0; border-radius: 0px; border-style: solid; border-color: #337ab7;">
          <div class="mainSection">
            <%= render 'partials/counterpickContent' %>
          </div>
        </nav>
      </div>
    </div>

    <%= render 'partials/footerContent' %>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        var content = [
            'Aatrox','Ahri','Akali','Alistar','Amumu','Anivia',
            'Annie','Ashe','Azir','Bard','Blitzcrank','Brand',
            'Braum','Caitlyn','Cassiopeia','Cho\'Gath','Corki','Darius',
            'Diana','Dr. Mundo','Draven','Ekko','Elise','Evelynn',
            'Ezreal','Fiddlesticks','Fiora','Fizz','Galio','Gangplank',
            'Garen','Gnar','Gragas','Graves','Hecarim','Heimerdinger',
            'Irelia','Janna','Jarvan IV','Jax','Jayce','Jinx',
            'Kalista','Karma','Karthus','Kassadin','Katarina','Kayle',
            'Kennen','Kha\'Zix','Kindred','Kog\'Maw','LeBlanc','Lee Sin',
            'Leona','Lissandra','Lucian','Lulu','Lux','Malphite',
            'Malzahar','Maokai','Master Yi','Miss Fortune','Mordekaiser','Morgana',
            'Nami','Nasus','Nautilus','Nidalee','Nocturne','Nunu',
            'Olaf','Orianna','Pantheon','Poppy','Quinn','Rammus',
            'Rek\'Sai','Renekton','Rengar','Riven','Rumble','Ryze',
            'Sejuani','Shaco','Shen','Shyvana','Singed','Sion',
            'Sivir','Skarner','Sona','Soraka','Swain','Syndra',
            'Tahm Kench','Talon','Taric','Teemo','Thresh','Tristana',
            'Trundle','Tryndamere','Twisted Fate','Twitch','Udyr','Urgot',
            'Varus','Vayne','Veigar','Vel\'Koz','Vi','Viktor',
            'Vladimir','Volibear','Warwick','Wukong','Xerath','Xin Zhao',
            'Yasuo','Yorick','Zac','Zed','Ziggs','Zilean',
            'Zyra'

        ];
        $( "#champSearch" ).autocomplete({
            delay: 10,
            source: function( request, response ) {
                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
                response( $.grep( content, function( item ){
                    return matcher.test( item );
                }) );
            }
        });
    </script>
</body>
</html>