<div class="row">

  <div class="col-xs-12"><!-- ToDo: resizing the screen messes up here-->
    <form class="form-inline" action="" accept-charset="UTF-8" method="GET" >
      <div class="form-group">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="input-group-btn">
          <select name="lane" class="form-control" style="border-radius:0;">
            <option name="top" value="top">Top</option>
            <option name="jungle" value="jungle">Jungle</option>
            <option name="mid" value="mid">Mid</option>
            <option name="adc" value="adc">ADC</option>
            <option name="sup" value="sup">Support</option>
          </select>
          <input name="champSearch" id="champSearch" type="text" class="form-control" placeholder="Search Champion" style="border-radius:0;">
          <button type="submit" value="search" class="btn">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <br>
  <% if @valid %>
      <div class="col-xs-12">
        <br>
        <h2> <%=@champion_name%> </h2>
        <h3>first counter: <%=@first_counter[0]%> </h3>
        <h4>wins against <%=@champion_name%>: <%=@losses_against_first[0]%></h4>
        <h4>losses against <%=@champion_name%>: <%=@wins_against_first[0]%></h4>
        <h3>second counter: <%=@second_counter[0]%> </h3>
        <h4>wins against <%=@champion_name%>: <%=@losses_against_second[0]%></h4>
        <h4>losses against <%=@champion_name%>: <%=@wins_against_second[0]%></h4>
        <h3>third counter: <%=@third_counter[0]%> </h3>
        <h4>wins against <%=@champion_name%>: <%=@losses_against_third[0]%></h4>
        <h4>losses against <%=@champion_name%>: <%=@wins_against_third[0]%></h4>
        <h3></h3>
        <br>
      </div>
  <% else %>
      <h3> invalid champion name(s)</h3>
  <%end%>


</div>