<div class="row">

  <div class="col-xs-12"><!-- ToDo: resizing the screen messes up here-->
    <form class="form-inline" action="" accept-charset="UTF-8" method="GET" >
      <div class="form-group">
        <div class="input-group-btn">
          <select name="lane" class="form-control" style="border-radius:0;">
            <option name="top" value="TOP">Top</option>
            <option name="jungle" value="JG">Jungle</option>
            <option name="mid" value="MID">Mid</option>
            <option name="adc" value="ADC">ADC</option>
            <option name="sup" value="SUP">Support</option>
          </select>
          <input name="champSearch" id="champSearch" type="text" class="form-control" placeholder="Search Champion" style="border-radius:0;">
          <button type="submit" value="search" class="btn">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>


<% if @valid == 1 %>
    <div class="row">
      <div class="col-xs-12">
          <div class="row">
            <div class="col-md-6">
              <br>
              <h4>Displaying 3 best counters against: <%=@output_lane%> <%=@champion_name%></h4>

              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th colspan="2" style="text-align: center;">Champion</th>
                  <th style="text-align: center;"># Games</th>
                  <th style="text-align: center;">Win Rate Against <%=@output_lane%> <%=@champion_name%></th>
                </tr>
                </thead>

                <colgroup>
                  <col class="col-xs-2">
                  <col class="col-xs-2">
                  <col class="col-xs-2">
                  <col class="col-xs-6">
                </colgroup>
                <tbody>
                <tr>
                  <td><img src=<%= "#{@first_icon}" %> height="75" width="75"></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@first_counter_name}" %></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@first_games}" %></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@first_wr}" %>%</td>
                </tr>
                <tr>
                  <td><img src=<%= "#{@second_icon}" %> height="75" width="75"></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@second_counter_name}" %></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@second_games}" %></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@second_wr}"%>%</td>
                </tr>
                <tr>
                  <td><img src=<%= "#{@third_icon}" %> height="75" width="75"></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@third_counter_name}" %></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@third_games}" %></td>
                  <td style="text-align: center;vertical-align: middle;"><%= "#{@third_wr}"%>%</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
<% elsif @valid == 0 %>
    <h3>Invalid champion name(s)!</h3>
<% elsif @valid == 2 %>
    <h3>Not enough games found!</h3>
<% elsif @valid == 3 %>
    <h3>Invalid lane searched!</h3>
<% elsif @valid == 4 %>
    <h3>Search for a champion and lane to find its top 3 counter picks!</h3>
<% end %>
