<div class="row">
  <div class="col-xs-3">
    <form action="/teamcomp" accept-charset="UTF-8" method="GET">
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Top</label>
              <input name="top" id="champSearch01" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Jungle</label>
              <input name="jungle" id="champSearch02" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Mid</label>
              <input name="mid" id="champSearch03" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>ADC</label>
              <input name="adc" id="champSearch04" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="max-width:200px;">
            <div class="form-group">
              <label>Support</label>
              <input name="support" id="champSearch05" type="text" class="form-control" placeholder="Search Champion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" value="search" class="btn">Search</button>
          </div>
        </div>
    </form>

  </div>

  <% if @valid %>
      <div class="col-xs-9">
        <div style="width:100%; text-align:center;">
            <img src=<%= "#{@top_icon}" %> height="50" width="50" display:inline-block;>
            <img src=<%= "#{@jungle_icon}" %> height="50" width="50" display:inline-block;>
            <img src=<%= "#{@mid_icon}" %> height="50" width="50" display:inline-block;>
            <img src=<%= "#{@adc_icon}" %> height="50" width="50" display:inline-block;>
            <img src=<%= "#{@support_icon}" %> height="50" width="50" display:inline-block;>
        </div>

        <h4 style="text-align: center;">Total games found: <%=@num_games%></h4>

        <div id="donut" data-donut=<%=@win_rate * 100%>></div>

        <h4 style="text-align: center;">Wins: <%=@wins%></h4>
        <h4 style="text-align: center;">Losses: <%=@losses%></h4>


      </div>
  <% else %>
    <h3> invalid champion name(s)</h3>
  <%end%>


</div>